
body{
  background-color:#ccc;
  background-image: -moz-radial-gradient(center 45deg,circle cover, #ccc, #333);
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%,800, from(#ccc), to(#333));
  background-image: radial-gradient(center 45deg,circle cover, #ccc, #333);
  font-family: sans-serif;

}

.post{

    background-image: url("../images/gears1.jpg");
    color: yellow;
    padding: 20px;
    text-align: center;
    width: 1125px;
    height: 690px;
    background-size: cover;
    transition: .3s;
    overflow: hidden;
}
.gears2{
  padding: 10px 0px 214px 895px;
  width: 200px;
}

img, p{
  transition: .5s;
}
.post img{
    transform: translateX(300px);
}
.post:hover img{
  transform: scale(1.5);
  transform: translateX(0);
}
.post p{
  transform: translateY(100px);
}
.post:hover p{
  transform: translateY(0);

}

.post:hover{
  transform: scale(1.1);
}
p{
  margin: 190px 0px 16px 0px;
  font-family: 'Creepster', cursive;
  font-size: 68px;
  color: white;
}
